.myMusicBody {
  overflow: auto;
  height: 82vh;
  position: relative;
}
.TabBar {
  width: 100%;
}
.TabBarBtn {
  display: flex;
  height: 45px;
  margin: 0px 18px;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}
.TabBarBtn div {
  font-size: 17px;
  color: black;
}
.TabBarBtn div span {
  display: block;
  font-size: 15px;
}
.span-true {
  /* color: #ff2064; */
  animation:tab-appear 100ms;
  animation-fill-mode: forwards;
  -webkit-animation:tab-appear 100ms ease-out; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}
.span-false {
  /* color: black; */
  animation:tab-fade 100ms;
  animation-fill-mode: forwards;
  -webkit-animation:tab-fade 100ms ease-out; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}
@keyframes tab-appear {
  from {
    color: black;
  }
  to {
    color: #ff2064;
  }
}
@keyframes tab-fade {
  from {
    color: #ff2064;
  }
  to {
    color: black;
  }
}
.mine {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.search {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.upload {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.TabBarBtn .item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@keyframes appear {
  from {
    background-color: white;
  }
  to {
    background-color: #ff2064;
    box-shadow:0 4px 10px 0 rgba(255,116,159,0.60);
  }
}
@keyframes fade {
  from {
    background-color: #ff2064;
    box-shadow:0 4px 10px 0 rgba(255,116,159,0.60);
  }
  to {
    background-color: white;
  }
}
.bottom {
  line-height: 3px;
  width: 30px;
  height: 4px;
  margin: 0 auto;
  border-radius: 50px;
}
.bottom-true {
  animation:appear 300ms;
  animation-fill-mode: forwards;
  -webkit-animation:appear 300ms ease-out; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}
.bottom-false {
  animation:fade 300ms;
  animation-fill-mode: forwards;
  -webkit-animation:fade 300ms ease-out; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}
hr{
  margin: 0px 0;
}
.TabBarBtn img {
  width: 18px;
  height: 18px;
}