.Message-true {
  position: fixed;
  display: flex;
  height: 50px;
  width: 100%;
  z-index: 500;
  justify-content: space-around;
  align-items: center;
  animation:addScore-true 3s;
  animation-fill-mode: forwards;
  -webkit-animation:addScore-true 3s ease-in-out; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}
.Message-false {
  position: fixed;
  display: flex;
  height: 50px;
  width: 100%;
  z-index: 500;
  justify-content: space-around;
  align-items: center;
  animation:addScore-false 3s;
  animation-fill-mode: forwards;
  -webkit-animation:addScore-false 3s ease-in-out; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}
@keyframes addScore-true {
  0% {
    opacity: 0;
    bottom: -50px;
  }
  5% {
    opacity: 0;
    bottom: 100px;
  }
  10% {
    opacity: 1;
    bottom: 100px;
  }
  90% {
    opacity: 1;
    bottom: 100px;
  }
  95% {
    opacity: 0;
    bottom: 100px;
  }
  100% {
    opacity: 0;
    bottom: -50px;
  }
}
@keyframes addScore-false {
  0% {
    opacity: 0;
    bottom: -50px;
  }
  5% {
    opacity: 0;
    bottom: 100px;
  }
  10% {
    opacity: 1;
    bottom: 100px;
  }
  90% {
    opacity: 1;
    bottom: 100px;
  }
  95% {
    opacity: 0;
    bottom: 100px;
  }
  100% {
    opacity: 0;
    bottom: -50px;
  }
}
.result {
  font-size: 17px;
  font-weight: bold;
  color: #ff2064;
}